body {
    font-family:'Dosis', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
}

.header {
    text-align: center;
}

.container {
    text-align: center;
    display: block;
    border: solid 1px black;
}

.card {
    display: inline-block;
    border: 1px solid;
}

.card img {
    height: 400px;
}

.card h2 {
    font-size: 40px;
}

.button-container {
    text-align: center;
    margin-top: 50px;
}

#btn {
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
}